{% extends "base.html" %}
{% block content %}
    <h1>home</h1>
    <form method="post">
        <input type="text" name="task">
        <button type="submit">Add</button>
    </form>

    {% for task in tasks %}
        
        {% if task[2] == 0 %}
            <h2 >{{loop.index}}. {{task[1]}}</h2>
            <a href="{{ url_for('delete',num = task[0]) }}">Delete</a>
            <a href="{{ url_for('complete' , num = task[0]) }}">Complete</a>
        {% else %}
            <h2 style="text-decoration:line-through;">{{loop.index}}. {{task[1]}}</h2>
            <a href="{{ url_for('delete',num = task[0]) }}">Delete</a>
            <a href="{{ url_for('uncomplete' , num = task[0]) }}">UnComplete</a>
        {% endif %}
    {% endfor %}

{% endblock %}